In [55]:
import io
import requests
import pandas as pd
from zipfile import ZipFile
from IPython.display import display_html

In [63]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

Drop rows without boroughs.

In [64]:
df = df.drop(df[df['Borough'] == 'Not assigned'].index)

Assign boroughs as names for unnamed neighborhoods.

In [65]:
df[df['Neighborhood'].str.contains('Not assigned')]

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

In [68]:
df = df.reset_index(drop=True)
df.head(15)

,Postal Code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village"
6,M1B,Scarborough,"Malvern, Rouge"
7,M3B,North York,Don Mills
8,M4B,East York,"Parkview Hill, Woodbine Gardens"
9,M5B,Downtown Toronto,"Garden District, Ryerson"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."
12,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
13,M3C,North York,Don Mills
14,M4C,East York,Woodbine Heights

No such rows found.

In [69]:
df.shape

(103, 3)